{% extends "admin/change_form.html" %}
{% load i18n admin_urls static %}

{% block extrahead %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/mobile-refactor.css' %}">
  <script src="{% static 'js/mobile-refactor.js' %}" defer></script>
{% endblock %}

{% block content %}
  <div class="app-module_change_form">
    <h1>{% trans 'ویرایش کارمند' %}</h1>
    <form method="post" action="">
      {% csrf_token %}
      {{ adminform.form.as_p }}
      <div class="submit-row">
        <input type="submit" value="{% trans 'ذخیره' %}" class="default" name="_save">
      </div>
    </form>
  </div>
{% endblock %}
